// COLORS
$white: #fff;
$black: #000;
$gray-light: #f2f4f5;
$gray: #989898;
$primary: #ffbe00;
$secondary: #0076ff;
$light-blue: #f1f7ff;
$green: #81b290;
$color-dark: #333333;

// text
$text-1: #aeaeae;
$text-2: #7d7d7d;

// variants
$variant-1: #999999;
$variant-2: #0076fe;
$variant-3: #8bab95;
$variant-4: #f86060;
$variant-5: #333333;
$variant-6: #283646;
$variant-7: #eee;
$transparent-white: rgba(255, 255, 255, 0.2);

// screen size
$screen-size: 1200px;

// FONTS SIZE
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 6rem;

$shadow-box-default: 0 7px 12px rgba(0, 0, 0, 0.4);
$shadow-box-default-high: 0 1px 20px rgba(0, 0, 0, 0.4);
